node_modules
.DS_Store
dist
apps/*/public
apps/*/assets/generated
apps/*/assets/scripts
apps/*/media/icons
apps/*/src/generated
apps/*/icons/*/
apps/*/dist
packages/open-icon/src/generated/icons
packages/open-icon/src/generated/openIconLoaders.generated.ts
